.form_registro
  div.container-fluid
    div.row
      div.col-md-12
        h2.text-center Registro
      div.col-md-12
        = form_for @buyer, :html => { class: 'form-horizontal', id: 'form_registro'} do |f|
          - if @buyer.errors.any?
            div id="error_explanation"
              p
                | Por favor:
              ul
                - @buyer.errors.messages.values.each do |msg|
                  - msg.each do |m|
                    li
                      | -
                      = m
          div.form-group
            label.col-sm-3.control-label Email
            div.col-sm-9
              = f.email_field :email, autofocus: true, class: "form-control", placeholder: "Introduce tu email"
          div.form-group
            label.col-sm-3.control-label Contraseña
            div.col-sm-5
              = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Contraseña"
            p.col-sm-4.help-block Coloca entre 8 y 20 caracteres
          div.form-group
            label.col-sm-3.control-label Repetir Contraseña
            div.col-sm-5
              = f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Contraseña"
          = f.fields_for :buyer_info do |h|
            div.form-group
              label.col-sm-3.control-label Nombre
              div.col-sm-9
                = h.text_field :first_name, class: "form-control", placeholder: "Introduce tu nombre"
            div.form-group
              label.col-sm-3.control-label Apellido
              div.col-sm-9
                = h.text_field :last_name, class: "form-control", placeholder: "Introduce tu apellido"
            div.form-group
              label.col-sm-3.control-label Teléfono
              div.col-sm-5
                = h.text_field :phonenumber, class: "form-control", placeholder: "Introduce tu número de teléfono"
              p.col-sm-4.help-block Usa este formato: 9999-9999999
          = f.fields_for :domicile do |h|
            div.form-group
              label.col-sm-3.control-label Ruta de entrega
              div.col-sm-9
                = h.select :delivery_route_id, options_for_select(@routes.map {|r| [r.get_addres_full, r.id, 'data-time' => r.delivery_time.in_time_zone('Caracas').strftime("%I:%M%p")]}), { include_blank: true}, class: "form-control"
            div.form-group
              label.col-sm-3.control-label Hora de entrega
              p.col-sm-9.time.help-block
            div.form-group
              label.col-sm-3.control-label Casa o Apartamento
              div.col-sm-9
                = h.text_field :home, class: "form-control", placeholder: "Introduce tu número de Casa o Apartamento"
          button.btn-block.btn-sm.btn-m type="submit" Enviar

javascript:

  $(document).ready(function() {

    jQuery.validator.addMethod("customphone", function(value, element) {
      return this.optional(element) || /^\d{4}-\d{7}$/.test(value);
    }, "Usa este formato: 9999-9999999");

    
  });

    $('#form_registro').validate({
        rules: {
            'buyer[email]': {
              required: true,
              email: true
            },
            'buyer[password]': {
              required: true,
              minlength: 8
            },
            'buyer[password_confirmation]': {
              required: true,
              minlength: 8,
              equalTo: "#buyer_password"
            },
            'buyer[buyer_info_attributes][first_name]': {
              required: true
            },
            'buyer[buyer_info_attributes][last_name]': {
              required: true
            },
            'buyer[buyer_info_attributes][phonenumber]': {
              customphone: true,
              required: true
            },
            'buyer[domicile_attributes][delivery_route_id]': {
              required: true
            },
            'buyer[domicile_attributes][home]': {
              required: true
            }
        },
        messages: {
            'buyer[email]': {
              required: "Email requerido",
              email: "Especifique un email valido"
            },
            'buyer[password]': {
              required: "Contraseña requerido",
              minlength: "La contraseña debe tener entre 8 y 20 caracteres"
            },
            'buyer[password_confirmation]': {
              required: "Confirmacion de contraseña requerido",
              minlength: "La contraseña debe tener entre 8 y 20 caracteres",
              equalTo: "Las contraseñas no coinciden"
            },
            'buyer[buyer_info_attributes][first_name]': {
              required: "Nombre requerido"
            },
            'buyer[buyer_info_attributes][last_name]': {
              required: "Apellido requerido"
            },
            'buyer[buyer_info_attributes][phonenumber]': {
              required: "Teléfono requerido",
              customphone: "Usa este formato: 9999-9999999"
            },
            'buyer[domicile_attributes][delivery_route_id]': {
              required: "Ruta de entrega requerido"
            },
            'buyer[domicile_attributes][home]': {
              required: "Número de casa o apartamento requerido"
            }
        },
        highlight: function (element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        success: function (element) {
            element.text('OK!').addClass('valid')
                .closest('.form-group').removeClass('has-error').addClass('has-success');
        }
    });
  $( "select" ).change(function() {
    var str = "";
    $( "select option:selected" ).each(function() {
      str += $(this).data("time");
    });
    if (str =="undefined") {
      $( "p.time" ).text( "Seleccione una ruta para ver la hora de entrega");
    } else {
      $( "p.time" ).text( "La hora de entrega aproximada es: " + str );
    }
  }).trigger( "change" );