/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require selectize
 *= require selectize.default
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Vollkorn';
@import "font-awesome-sprockets";
@import "font-awesome";

html {
  position: relative;
  min-height: 100%; }

body {
  font-weight: bold;
  background-color: #f7f7f7; }

body.with-footer {
  margin-bottom: 60px;
}

body > .container-with-nav {
  padding: 59px 15px 0;
  margin-bottom: 60px;
}

h1, h2, .box-welcome h3 {
  font-family: 'Vollkorn', serif;
}

.container input.form-control,
.container-fluid input.form-control {
  width: 100%;
}

.img-responsive {
  height: calc(100% - 1px);
}

/* Margin y Padiing */
  .margin-bottom-zero {
    margin-bottom: 0 !important;
  }

  .margin-side-zero {
    margin-left: 0;
    margin-right: 0;
  }

  .padding-side-zero {
    padding-left: 0;
    padding-right: 0;
  }
/* Margin y Padiing */

/* Header Styles */

  .main-navbar {
    background: #d2ccce;
    border-color: #828282;
  }

  .navbar-header .nav-logo img {
    margin: 6px;
    max-height: 46px;
  }

  .navbar-default .nav-content #navbar ul {
    margin-right: 6px;
  }

  .navbar-default .nav-content #navbar .navbar-nav > li > a {
    padding: 0 17px;
    margin-top: 13px;
    height: 30px;
  }

  #navbar ul > li .fa-hover {
      margin-top: 11px;
  }

  #navbar ul > li  .fa-hover a {
    display: block;
    color: #777;
    line-height: 32px;
    padding-right: 8px;
    border-radius: 4px;
    .fa {
      color: #ff3400;
    }
  }

  #navbar ul > li .fa-hover a .fa {
    width: 32px;
    text-align: right;
    margin-right: 10px;
}

#navbar ul > li .fa-hover a:hover {
    background-color: #ff3400;
    color: #fff;
    text-decoration: none;
}

#navbar ul > li .fa-hover a:hover .fa {
    font-size: 28px;
    vertical-align: -6px;
    color: #fff;
}



/* Header Styles */

/* Footer Styles */
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .footer {
    position: absolute;
    bottom: 0;
    /*background-color: #ff3900;*/

    background: #ff3900; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ff3900, #b82900); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ff3900, #b82900); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ff3900, #b82900); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ff3900, #b82900); /* Standard syntax (must be last) */

    width: 100%;
    font-size: 12px;
    padding-top: 7px;
    height: 70px;
    min-height: 60px;
    color: #d6d6d6;
    font-weight: normal;
  }

  .footer ul.footer-nav {
    margin-right: 0;
  }

  .footer a.nav-logo {
    color: #d6d6d6;
  }

  .footer a.nav-logo-image {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 11px;
    height: 47px;
  }

  .footer a.nav-logo-image img {
    width: 72px;
  }

  .footer p {
    text-align: center;
    width: 250px;
    margin-top: 20px;
  }

  .footer a {
    img {
      max-width: 50px;
    }
    &:nth-of-type(2) img {
      margin: 0 65px;
    }
  }

  .footer-nav li {
    list-style: none;
    float: left;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #ffffff;
    margin-top: 14px;
  }

  .footer-nav li a {
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #d6d6d6;
    text-transform: none;
    text-decoration: none;
  }

  .footer-nav .first {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }

  .footer-nav .second {
    border-left: 0;
  }

  .footer.white {
    background-color: #fff;
    color: #000;
    min-height: 102px;
    padding-top: 25px;
  }

  .footer.white .footer-nav li a {
    color: #000;
  }

  .footer-nav{
    margin-bottom: 0;
  }
/* Footer Styles */


@media only screen and (max-width: 948px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}