// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vertical-center-login {
  padding-top: calc(50vh - 173px);
}

.box-login {
  max-width: 450px;
  margin: 0 auto;
  padding: 15px 0;
}

.box-login a {
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  top: 7px;
  right: 0;
  margin-right: 15px;
  cursor: pointer;
}

.box-login input:-webkit-autofill,
.box-login input:-webkit-autofill:hover,
.box-login input:-webkit-autofill:focus,
.box-login input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px none inset;
  -webkit-text-fill-color: #7f7f7f;
}

.box-producto .fondoimgarticulo .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.box-producto .fondoimgarticulo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box-producto {
  height: 265px;
  background: #fcebe5;
  border: 1px #ff3400 solid;
  margin-bottom: 10px;
  width: 162px;
}

.fondoimgarticulo {
  height: 120px;
  background: #ffffff;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.box-producto h3 {
  overflow: hidden;
  margin: 20px 3px 0px 3px;
  font-size: .9em;
  font-weight: bold;
  height: 40px;
}

.box-producto p.stock {
  font-size: .8em;
  font-weight: normal;
  display: block;
  position: absolute;
  color: #777777;
  text-indent: -1000em;
  width: 100%;
  background: #ffffff;
}

.box-producto:hover p.stock {
  text-indent: 0;
}

.precio-producto {
  margin: 5px 3px 0px 3px;
  font-weight: bold;
  font-size: 1.3em;
  color: #ff3400;
  font-style: italic;
  border-top: 2px #ff3400 solid;
}

.banda {
  background: #ff3400;
  color: #ffffff;
  font-size: .85em;
}

.banda span {
  float: left;
  margin: 0px 3px;
}

span.cant {
  margin: 0px 3px 0px 45px;
}

.banda input {
  float: left;
  height: 18px;
  color: black;
  text-align: center;
}

.precio {
  width: 65px;
}

.peso {
  width: 40px;
}

button.btn-m, .box-login button.btn-m {
  background: linear-gradient(0deg,#fb4505,#fb8060);
  margin-top: 7px; 
  border: 0;
  color: #ffffff;
  text-shadow: #000 0 0px 0;
  &:hover {
    background: #fb4505;
  }
  &:active {
    background: linear-gradient(0deg,#fb4505,#fb3500);
  }
}

#tabla td:nth-of-type(2) a {
  position: absolute; 
  display: none;
  top: 2px;
  right: 2px;
  width: 16px;
  height: 16px;
  background: #ddd;
  border-radius: 3px;
}

.remove {
  position: absolute;
  top: 4px;
  right: 4px; 
  width: 7px;
  height: 7px;
  background-image: url("remove.png");
}

#tabla>tbody>tr:hover {
  background-color: #fcebe5;
}

#tabla>tbody>tr:hover a {
  display: inline;
}

#tabla thead th {
  background: #f7f7f7; 
}

#tabla th:nth-of-type(2), #tabla td:nth-of-type(2) {
  text-align: right;
  vertical-align: bottom;
  position: relative;
}

#tabla>tbody>tr>td, #tabla>thead>tr>th {
  padding: 4px;
}

#tabla>thead>tr>th {
  padding-right: 17px; 
}

tr {
  width: 100%;
  display: inline-table;
}

table {
  position: relative;
  height:270px;
}

#tabla tfoot td {
  font-size: 1.2em;
  font-weight: bold; 
}

tbody {
  overflow-y: auto;
  height: 200px;
  width: 100%;
  position: absolute;
}

.container h2 {
  margin-top: 10px;
}

.box-productos {
  height: 550px;
  overflow-y: auto;
}