// Place all the styles related to the Postulations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form_postulacion .title p{
  text-align: center;
  color: #555555;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
}
  