@media only screen and (max-width: 767px) {
  .navbar-default .nav-content #navbar ul {
    position: relative !important;
  }

  #navbar .navbar-nav > li > p {
    padding-left: 15px;
  }
  table {
    height: 220px;
  }

  tbody {
    height: 150px;
  }

  div#sidebar {
    top: 69px;
    font-size: 11px;
    padding-right: 60px;

    h2 {
      font-size: 1.3em;
    }

    .togleHover i {
      font-size: 2.5em;
    }
    
    .togle {
      width: 54px;
      height: 58px;
    }

    #sidebar-content {
      padding: 14px;
      height: 455px;
    }

    i.fa.fa-shopping-cart {
      margin-top: 10px;
    }

    #toggleSidebar {
        padding-left: 8px;
    }

  }

}