.inventory#inventory
  .container-fluid.padding-side-zero
    .row
      .table-responsive
        table id="tabla" class="table table-striped"
          thead
            tr
              th
              th Imagen
              th Descripcion
              /th Precio
              th Costo
              th Precio
              th stock
              th Acciones
          tbody
            - @product_inventories.each do |p|
              tr
                td
                td.image-zoom
                  = image_tag("default.png", {class: "img-responsive lazy", 'data-original' => p.get_image_medium })
                td
                  = p.description
                td
                  input type="tel" name="cost" id="cost_#{p.id}" value="#{number_with_precision(p.cost, precision: 2, separator: ',', delimiter: '')}" onClick="this.select();"
                /td
                  = number_to_currency(p.price, unit: "", separator: ",", delimiter: "")
                /td
                  - if p.measuring_type == MeasuringType::UNIDAD
                    = " #{number_with_precision(p.stock, precision: 0)}"
                  - else
                    = " #{number_with_precision(p.stock, precision: 3, separator: ',', delimiter: '.')}"
                td
                  input type="tel" name="price" id="price_#{p.id}" value="#{number_with_precision(p.price, precision: 2, separator: ',', delimiter: '')}" onClick="this.select();"
                  span
                    - if p.measuring_type == MeasuringType::UNIDAD
                      |  x Unid
                    - else
                      |  x Kg
                td
                  - if p.measuring_type == MeasuringType::UNIDAD
                    input type="number" id="stock_#{p.id}" value="#{number_with_precision(p.stock, precision: 0)}" onClick="this.select();"
                  - else
                    input type="tel" name="stock" id="stock_#{p.id}" value="#{number_with_precision(p.stock, precision: 0)}" onClick="this.select();"

                td
                  a method="POST" onclick="inventorying(#{p.id})"
                    | Guardar

= javascript_include_tag '/js/jquery.price_format.2.0.min', 'data-turbolinks-track' => true
= javascript_include_tag '/js/jquery.lazyload.min', 'data-turbolinks-track' => true

javascript:

  $("img.lazy").lazyload({
      effect : "fadeIn",
      container: $("#inventory")
  });

  $(function() {
    $('[name="cost"]').keyup(function() {
      var idcost= "#"+$(this).attr('id');
      $(idcost).priceFormat({
       prefix: '',
       centsSeparator: ',',
       thousandsSeparator: '',
       centsLimit: 2,
       });
    });
    $('[name="price"]').keyup(function() {
      var idprice= "#"+$(this).attr('id');
      $(idprice).priceFormat({
       prefix: '',
       centsSeparator: ',',
       thousandsSeparator: '',
       centsLimit: 2,
       });
    });
    $('[name="stock"]').keyup(function() {
      var idstock= "#"+$(this).attr('id');
      $(idstock).priceFormat({
       prefix: '',
       centsSeparator: ',',
       thousandsSeparator: '',
       centsLimit: 0,
       });
    });
  });

  var inventorying = function(id){
    var replace1 = $('#price_'+id).val();
    var replace2 = $('#stock_'+id).val();
    var replace3 = $('#cost_'+id).val();

    var row= $('#stock_'+id).parent().parent().index();


    var price = parseFloat( replace1.replaceAll(',', '.') );
    var stock = parseFloat( replace2.replaceAll(',', '.') );
    var cost = parseFloat( replace3.replaceAll(',', '.') );

      $.post("/admin/product_inventories/"+id+"/inventorying", { price: price, stock: stock, cost: cost }, function( data, status ) {
          console.log('fallo: '+status);
          $(".inventory tbody tr:eq(" + row + ") td").eq(0).css("background", "#0EFF0A");
        });
  }

  String.prototype.replaceAll = function(search, replacement) {
    var target = this;
    return target.split(search).join(replacement);
  }